* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}
.body-link a{
    color: #A3080C;
}
.profile_table{
    color: #000000;
}
body {
    height: 100%;
    background-color: #FFF1E2;
    margin: 0;
}
.login, .register {
    width: 400px;
    background-color: #F5D4B7;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
}
.login h1, .register h1 {
    text-align: center;
    color: #000000;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.login .links, .register .links {
    display: flex;
    padding: 0 15px;
}
.login .links a, .register .links a {
    color: #adb2ba;
    text-decoration: none;
    display: inline-flex;
    padding: 0 10px 10px 10px;
    font-weight: bold;
}
.login .links a:hover, .register .links a:hover {
    color: #9da3ac;
}
.login .links a.active, .register .links a.active {
    border-bottom: 3px solid #A3080C;
    color: #A3080C;
}
.login form, .register div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.login form label, .register  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #A3080C;
    color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.login form input[type="submit"], .register form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #A3080C;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}
/* someone might think we stole it....so, some changes are needed :)*/
.navtop {
    background-color: #F5D4B7;
    height: 60px;
    width: 100%;
    border-bottom-style: solid;
    border-color: #A3080C;

}
.navtop div {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.navtop div h1, .navtop div a {
    display: inline-flex;
    align-items: center;
}
.navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #000000;
    font-weight: bold;
}
.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: #A3080C;
    font-weight: bold;
}
.navtop div a i {
    padding: 2px 8px 0 0;
}
.navtop div a:hover {
    color: #eaebed;
}
body.loggedin {
    background-color: #FFF1E2;
}

.sidebar{
    margin-bottom: -1500px; 
    padding-bottom: 1500px;
    overflow-x: hidden;
    background-color: #F5D4B7;
    border-right-style: solid;
    border-color: #A3080C;
    float: left;
}
.sidebar a, h2{
    padding: 0 20px;
    text-decoration: none;
    color: #A3080C;
    font-weight: bold;
    display: block;
}
.sidebar h2{
    color: #000000;
}

.sidebar a:hover {
    color: #eaebed;
}

.profile_table{
    width:90%;
    padding: 1cm;
    margin: 1cm;
    border-style: solid;
    border-color: #A3080C;

}

.password_cell{
    display:none;
}

.show_password:hover + .password_cell{
    display: inline-block;
}